.wrapper{
    text-align: center;
}
.action{
    padding: 15px;
}
a{
    padding: 10px;
}
.productpage{
    padding: 15px;
}
.add{
    padding: 10px;
}
.add a{
    background-color: yellow;
    border-radius: 11px;
    font-weight: bold;
}
table{
    text-align: center;
}
.center{
    text-align: center;
}
.form{
    width: 50%;
    margin-left: 27%;
    padding-top: 20px;
}
.form form button{
    margin-left: 43%;
}